<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>
<div> 
    <p>Escolha uma das opções</p>
    <a href="/promotion/product-v-power">Promoção V-POWER</a> <br />
    <a href="/promotion/product-lubrificantes">Promoção LUBRIFICANTES</a>
</div>
</body>
</html>
