<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Promotion</title>
    <link rel="stylesheet" href="/Content/css/index.css">
	
	<script src="//assets.adobedtm.com/9b74220da1d0b361973dbd26a530b8f49255d00c/satelliteLib-b69ce53ba3fa1db9f06b40a159d15cee47132b4e.js"></script>
</head>
<body>
	<p class="tela-erro">
		<strong>Olá, a promoção ainda não começou.</strong>
		Mas fique tranquilo: você poderá participar em breve.
		<br>
		Boa sorte.
	</p>
	<script src="/Scripts/js.js"></script>
</body>
</html>
