@model ShiftInc.Raizen.ShellTanqueCheio.Web.Models.ReceiptViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GetPersonByCPF</title>
    <link rel="stylesheet" href="/Content/css/index.css">
	
	<script src="//assets.adobedtm.com/9b74220da1d0b361973dbd26a530b8f49255d00c/satelliteLib-b69ce53ba3fa1db9f06b40a159d15cee47132b4e.js"></script>
</head>
<body>
@if (Model.productType == "v-power")
{
	<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Promoção Tanque Cheio - Tanque Cheio Toda Hora (Visita A) Cadastro CPF
    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br/motoristas/promocoes-e-campanhas/promocao-tanque-cheio/tanque-cheio-toda-hora-vpower.html
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/12/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove

    Activity name of this tag: Raizen_Promocao Tanque Cheio_Tanque Cheio Toda Hora (Visita A)_Cadastro CPF_Sem DCM

    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br

    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/21/2016
    -->

    <script type="text/javascript">

    var axel = Math.random() + "";

    var a = axel * 10000000000000;

    document.write('<iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=ya7n8a5e;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

    </script>

    <noscript>

    <iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=ya7n8a5e;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>

    </noscript>

    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
} else if (Model.productType == "lubrificantes")
{
	<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Promoção Tanque Cheio - Tanque Cheio o Ano Todo (Visita B) Cadastro CPF
    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br/motoristas/promocoes-e-campanhas/promocao-tanque-cheio/tanque-cheio-ano-todo-helix.html
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/12/2016
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://5860106.fls.doubleclick.net/activityi;src=5860106;type=tanqu0;cat=promo003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    <!--    Start of DoubleClick Floodlight Tag: Please do not remove

    Activity name of this tag: Raizen_Promocao Tanque Cheio_Tanque Cheio o Ano Todo (Visita B)_Cadastro CPF_Sem DCM

    URL of the webpage where the tag is expected to be placed: http://www.shell.com.br

    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.

    Creation Date: 07/21/2016

    -->

    <script type="text/javascript">

    var axel = Math.random() + "";

    var a = axel * 10000000000000;

    document.write('<iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=gdgahrai;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

    </script>

    <noscript>

    <iframe src="https://5876400.fls.doubleclick.net/activityi;src=5876400;type=invmedia;cat=gdgahrai;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>

    </noscript>

    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
}
	<form action="?" name="internal.frm" autocomplete="off">
		<div class="confirmacao">
			<header>
				<h1>Olá @Model.person.name.Split(' ')[0],</h1>
				<a href="javascript:;">&times;</a>
			</header>
			<p>
				O seu e-mail é <strong>@Model.person.email</strong> ?
				<br>
	 			Em caso positivo, para facilitar o seu cadastro podemos utilizar seus dados cadastrados em promoções anteriores da Shell.
			</p>
			<div>
                <a href="/promotion/receipt-data?cpf=@Html.Raw(Model.cpf)&amp;productType=@Html.Raw(Model.productType)&amp;registered=1" class="btn">Sim, esse é meu e-mail</a>
                <a href="/promotion/personal-data?cpf=@Html.Raw(Model.cpf)&amp;productType=@Html.Raw(Model.productType)&amp;updt=1" class="btn">Não, esse não é meu e-mail</a>
			</div>
		</div>
	</form>
	<script src="/Scripts/js.js"></script>
</body>
</html>
