<style type="text/css">
	html {
	    display: table;
	    margin: auto;
	}

	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	table{display: block;}
	table, tr, td{border:none; margin: 0px;}
	img{display: block;}
</style>
<html>
<head>
<title>Gympass Intimus Sport</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="color: white; font-family: Arial, sans-serif; text-align: center;">
	<div style="background-image: url('http://back2.tempsite.ws/Intimus/bg-confirm.jpg'); background-repeat: no-repeat; width: 600px; background-color: #091922;">
		<table cellspacing="11" style="font-size: 0.95rem; text-align: center;" cellpadding="10" width="600px" border="0" height="auto">
			<tr>
				<td width="600">Olá X,</td>
			</tr>
			<tr>
				<td width="600">Já se cadastrou para ganhar 30 dias de Gympass e treinar<br/>sua modalidade preferida?​</td>
			</tr>
			<tr>
				<td width="600">No Gympass você consegue praticar vários tipos de esporte:</td>
			</tr>
			<tr>
				<td width="600" height="150"><img src="http://back2.tempsite.ws/Intimus/classes-sustentacao.png" style="display: block; margin: 0 auto;" border="0"></td>
			</tr>
			<tr>
				<td width="600"><div style="background-color: #ffde16; font-size: 16px; font-weight: bold; color: #02171e; text-transform: uppercase; width: 200px;text-align: center; font-family:Impact, Charcoal, sans-serif; letter-spacing: 4px;margin: 0 auto;padding: 0.3rem 0rem;">Voucher: XXXXX</div></td>
			</tr>
			<tr>
				<td width="600"><a style="text-decoration: none;" href=""><span style="display: block; width: 230px; background-color: #c1498b; color: white; font-weight: bold; text-align: center; font-size: 0.9rem; margin: 0 auto; padding: 0.5rem 0.5rem; text-transform: uppercase;">Cadastrar Voucher</span></a></td>
			</tr>
			<tr>
				<td width="600" height="150"><img src="http://back2.tempsite.ws/Intimus/logos-confirmacao.png" style="display: block; margin: 0 auto;" border="0"></td>
			</tr>
			<tr>
				<td width="600"><span style="font-size: 7px;">Acesse o site www.promocaointimussport.com.br/regulamento para consultar o regulamento completo. O cadastro do voucher no site do Gympass será aceito até 05/06/2018.</span>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>