<style type="text/css">
	html {
	    display: table;
	    margin: auto;
	}

	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	table{display: block;}
	table, tr, td{border:none; margin: 0px;}
	img{display: block;}
</style>
<html>
<head>
<title>Gympass Intimus Sport</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="color: white; font-family: Arial, sans-serif; text-align: center;">
	<div style="background-image: url('http://back2.tempsite.ws/Intimus/bg-confirm.jpg'); background-repeat: no-repeat; width: 600px;">
		<table cellspacing="11" style="font-size: 0.95rem; text-align: center;" cellpadding="10" width="600px" border="0" height="auto">
			<tr>
				<td width="600">Olá {NOME},</td>
			</tr>
			<tr>
				<td width="600">Parece que o seu cupom fiscal cadastrado está inválido.</td>
			</tr>
			<tr>
				<td width="600">Verifique se o seu cupom fiscal está de acordo com o regulamento:​</td>
			</tr>
			<tr>
				<td width="600"><span style="display: block; width: 350px; border:solid 1px #c1498b; color: #c1498b; text-align: center; font-size: 0.9rem; margin: 0 auto; padding: 0.5rem 0.5rem;">Valor mínimo de R$ 20,00 em Intimus Sport​<br/><br/>Compra efetuada entre 01/03/2018 e 15/04/2018​</span>
				</td>
			</tr>
			<tr>
				<td width="600"> Se sua participação não estiver de acordo com o regulamento, corre que ainda dá tempo de garantir seus 30 dias de Gympass. </td>
			</tr>
			<tr>
				<td width="600" height="150"><img src="http://back2.tempsite.ws/Intimus/logos-confirmacao.png" style="display: block; margin: 0 auto;" border="0"></td>
			</tr>
			<tr>
				<td width="600"><span style="font-size: 7px;">Acesse o site <a style="text-decoration: none;" href="http://www.promocaointimussport.com.br">www.promocaointimussport.com.br</a> para consultar o regulamento completo. O cadastro do voucher no site do Gympass será aceito até 05/06/2018.</span>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>