<style type="text/css">
	html {
	    display: table;
	    margin: auto;
	}

	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	table{display: block;}
	table, tr, td{border:none; margin: 0px;}
	img{display: block;}
</style>
<html>
<head>
<title>Gympass Intimus Sport</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="color: white; font-family: Arial, sans-serif; text-align: center;">
	<div style="background-image: url('http://back2.tempsite.ws/Intimus/bg-confirm.jpg'); background-repeat: no-repeat; width: 600px;">
		<table cellspacing="11" style="font-size: 0.95rem; text-align: center;" cellpadding="10" width="600px" border="0" height="auto">
			<tr>
				<td width="600">Olá {NOME},</td>
			</tr>
			<tr>
				<td width="600">Seu cadastro foi realizado com sucesso. :)</td>
			</tr>
			<tr>
				<td width="600">Seu cupom será avaliado e dentro de 3 dias úteis enviaremos um<br/>retorno por e-mail.​</td>
			</tr>
			<tr>
				<td width="600"> Enquanto isso, aproveite e conheça mais sobre Intimus Sport.<br/>Separamos alguns exercícios para você ir praticando enquanto não<br/>chega seu voucher. ;)</td>
			</tr>
			<tr>
				<td width="600"><a style="text-decoration: none;" href="https://www.youtube.com/playlist?list=PL4J4_K0C4deJtHOqK_tdbJ4t2pgIDwBJ6"><span style="display: block; width: 230px; background-color: #c1498b; color: white; font-weight: bold; text-align: center; font-size: 0.9rem; margin: 0 auto; padding: 0.5rem 0.5rem; text-transform: uppercase;">Assista agora no youtube</span></a></td>
			</tr>
			<tr>
				<td width="600" height="150"><img src="http://back2.tempsite.ws/Intimus/logos-confirmacao.png" style="display: block; margin: 0 auto;" border="0"></td>
			</tr>
			<tr>
				<td width="600"><span style="font-size: 7px;">Acesse o site <a style="text-decoration: none;" href="http://www.promocaointimussport.com.br">www.promocaointimussport.com.br</a> para consultar o regulamento completo. O cadastro do voucher no site do Gympass será aceito até 05/06/2018.</span>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>