@model ShiftInc.Raizen.ShellTanqueCheio.Web.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<input type="hidden" id="lineChartPromotion" value='@Html.Raw(Model.SerializedLineVPowerData)' />
<input type="hidden" id="lineChartTicks" value='@Html.Raw(Model.SerializedLineChartTicks)' />

<div class="page-header">
    <div class="page-title">
        <h3>Dashboard - Gerencial</h3>
    </div>
</div>
<!-- /page header -->
<!-- Breadcrumbs line -->
<div class="breadcrumb-line">
    <!-- Busca Avançada -->
    <ul class="breadcrumb-buttons collapse">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search3"></i> <span>Busca Avançada</span> <b class="caret"></b></a>
            <div class="popup dropdown-menu dropdown-menu-right">
                <div class="popup-header">
                    <span>Busca Avançada</span>
                    <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
                </div>
                <form action="/admin/search" class="breadcrumb-search">
                    <input type="text" placeholder="digite..." name="search" class="form-control autocomplete">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="radio">
                                <strong>Busque por:</strong>
                            </label>
                            <label class="radio">                                
                                N° do Voucher 
                            </label>
                            <label class="radio">
                                Nome
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <label class="radio">                                
                            </label>
                            <label class="radio">                                
                                CPF
                            </label>
                            <label class="radio">                                
                                E-mail
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-block btn-success" value="Buscar">
                </form>
            </div>
        </li>
    </ul>
</div>
<!-- /breadcrumbs line -->
<!-- MIOLO -->
<div class="block">
    <div class="row">
        <!-- VENCEDORES -->
        <ul class="info-blocks">
            <li class="bg-info">
                <div class="top-info active">
                    <a href="/admin/winners/gympass">Intimus - Gympass</a>
                </div>
                <a href="/admin/winners/gympass"><i class="icon-happy"></i></a>
                <span class="bottom-info bg-primary">Premiados até agora: @Model.VPowerWinners</span>
            </li>            
        </ul>
    </div>
    <!--GRAFICOS-->
    <div class="row">
        <div class="col-md-12">
            <!-- Filled blue -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <i class="icon-calendar2"></i>Evolução de participações nos últimos 10 dias 
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="graph-standard" id="filled_blue"></div>
                </div>
            </div>
            <!-- /filled blue -->
        </div>
    </div>    
</div>
